.section {
	padding-top: 7rem;
	padding-bottom: 7rem;
	@include media-breakpoint-down(md) {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}
}
.hero {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
	&:before {
		position: absolute;
		content: "";
		width: 40%;
		background: #1b2f45;
		top: 0;
		bottom: 0;
		z-index: 1;
		@include media-breakpoint-down(md) {
			width: 0%;
		}
	}
	&:after {
		position: absolute;
		content: "";
		width: 100%;
		background: rgba(#1b2f45, .6);
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 2;
	}
	&.hero-no-sidebg {
		&:before {
			display: none;
		}
	}
	&, .row {
		height: 100vh;
		min-height: 780px;
	}

	> .container {
		position: relative;
		z-index: 3;
	}

	.text {
		max-width: 400px;
	}
	h1 {
		font-size: 50px;
		font-weight: bold;
		color: $white;
	}
	blockquote {
		border-left: 2px solid green;
		padding-left: 20px;
		p {
			color: $white;

		}
	}

	

}

.section-heading {
	font-weight: bold;
	margin-bottom: 20px;
}

.line {
	width: 50px;
	height: 2px;
	background-color: $primary;
	&.center {
		margin: 0 auto;
	}
}

.half-layout {
	border-radius: 8px;
	overflow: hidden;
	.img-bg {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		width: 40%;
		@include media-breakpoint-down(md) {
			width: 100%;
			height: 500px;
		}
	}
	.content {
		background-color: #f5f7f9;
		width: 60%;
		padding: 10rem;
		@include media-breakpoint-down(xl) {
			padding: 5rem;
		}
		@include media-breakpoint-down(md) {
			width: 100%;
			padding-left: 3rem;
			padding-right: 3rem;
			padding-top: 3rem;
			padding-bottom: 7rem;
			#content-nav {
				display: none;
			}
		}
		h4 {
			font-size: 18px;
		}
	}
}

.heading-3 {
	font-size: 24px;
	font-weight: bold;
	color: $secondary;
}




.testimonial-slider-wrap, .content-slider-full-width {
	position: relative;
	.tns-inner {
		// padding-top: 100px;
	}

	.item {
		blockquote {
			p {
				font-size: 20px;
				font-family: 'Georgia', serif;
				font-style: italic;
			}
		}
	}

	#testimonial-nav, #content-nav {
		position: absolute;
		top: 50%;
		z-index: 99;
		width: 100%;
		span {
			cursor: pointer;
			position: absolute;
		}
		.prev {
			left: -50px;
		}
		.next {
			right: -50px;
		}
	}

	.tns-nav {
		// margin-bottom: 30px;
		position: absolute;

		bottom: -50px;
		left: 50%;
		transform: translateX(-50%);
		button {
			background: none;
			border: none;
			display: inline-block;
			position: relative;
			width: 0px!important;
			height: 7px!important;
			margin: 2px;


			&:active, &:focus, &:hover {
				outline: none;
				box-shadow: none;
				background: none;
			}

			&:before {
				display: block;
				width: 7px;
				height: 7px;
				left: 0;
				top: 0;
				position: absolute;
				content: "";
				border-radius: 50%;
				transition: .3s all ease;
				background-color: darken(#efefef, 5%);

			}
			&:hover, &.tns-nav-active {
				&:before {
					background-color: $primary;
				}
			}
		}
	}
}

.service {
	.img-wrap {
		margin-right: 20px;
		img {
			width: 80px;
		}
	}
	.text {
		
		h3 {
			font-size: 16px;
			font-weight: bold;
			color: $secondary;
		}
	}
}


.section-bg {
	background-size: cover;
	background-position: center center;
	padding: 7rem 0;
	background-attachment: fixed;
	h2 {
		font-weight: bold;
		color: $white;
	}

	p {
		font-size: 16px;
		color: $white;
	}

	.container {
		z-index: 2;
		position: relative;
	}

	&.overlay {
		position: relative;
		&:before {
			z-index: 1;
			position: absolute;
			content: "";
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background: rgba($secondary, .9);
		}
	}
}

.list-icon {
	li {
		margin-bottom: 20px;
		span:nth-of-type(1) {
			margin-right: 20px;
			img {
				width: 30px;
			}
		}
		span:nth-of-type(2) {
			font-size: 18px;
		}
	}
}

.position-relative {
	position: relative;
}
.phone-wrap {
	position: absolute;
	right: 0;
	@include media-breakpoint-down(md) {
		position: relative;
	}
	img {
		width: 340px;
		@include media-breakpoint-down(md) {
			width: 100%;
			margin-top: 3rem;
		}
	}
}

.media-entry {
	> a {
		display: block;
		background-color: $black;
		background-size: cover;
		background-position: center center;
		
		transition: .3s all ease;
	}
	h3 {
		font-size: 16px;
		font-weight: 700;
		a {
			color: $black;
			&:hover {
				color: $primary;
			}
		}
	}
	.m-body {
		padding: 20px 20px 50px 20px;
	}
	.date {
		font-size: 12px;
		display: block;
		margin-bottom: 10px;
		color: #555;
	}
	&:hover {
		> a {
			// background-blend-mode: normal;
		}
		.more {
			.label {
				left: 0;
				opacity: 1;
				visibility: visible;
			}
			.arrow {
				border-color: $primary;
			}
		}
	}
	p {
		font-size: 14px;
	}


}



.testimonial-slider-wrap {
	position: relative;
	.tns-inner {
		padding-top: 100px;
	}

	.item {
		blockquote {
			p {
				font-size: 20px;
				font-family: 'Georgia', serif;
				font-style: italic;
			}
		}
	}

	#testimonial-nav {
		position: absolute;
		top: 50%;
		z-index: 99;
		width: 100%;
		span {
			cursor: pointer;
			position: absolute;
		}
		.prev {
			left: -50px;
		}
		.next {
			right: -50px;
		}
	}
	.tns-nav {
		position: absolute;

		bottom: -50px;
		left: 50%;
		transform: translateX(-50%);
		button {
			background: none;
			border: none;
			display: inline-block;
			position: relative;
			width: 0px!important;
			height: 7px!important;
			margin: 2px;


			&:active, &:focus, &:hover {
				outline: none;
				box-shadow: none;
				background: none;
			}

			&:before {
				display: block;
				width: 7px;
				height: 7px;
				left: 0;
				top: 0;
				position: absolute;
				content: "";
				border-radius: 50%;
				transition: .3s all ease;
				background-color: darken(#efefef, 5%);

			}
			&:hover, &.tns-nav-active {
				&:before {
					background-color: $primary;
				}
			}
		}
	}
}

.testimonial-v2 {
	padding: 40px 40px 80px 40px;
	border-radius: 40px;
	background-color: #efefef;
	img {
		margin-bottom: 30px;
		width: 100px;
		border-radius: 50%;
		position: relative;
	}
	h3 {
		font-size: 16px;
		margin-bottom: 0;
	}
	.position {
		opacity: .5;
	}
}


.service-2  {
	margin-bottom: 30px;
	background: $white;
	.img {
		background-size: cover;
		background-position: center center;
		width: 35%;
		@include media-breakpoint-down(md) {
			width: 100%;
			height: 250px;
		}
	}
	.text {
		padding: 40px;
		width: 65%;
		@include media-breakpoint-down(md) {
			width: 100%;
		}
		h3 {
			font-size: 18px;
			font-weight: bold;
			color: $secondary;
		}
	}
}


// sidebar
.sidebar-box {
	margin-bottom: 30px;
	padding: 25px;
	font-size: 15px;
	width: 100%;
	float: left;
	background: $white;
	*:last-child {
		margin-bottom: 0;
	}
	h3 {
		font-size: 18px;
		margin-bottom: 15px;
	}
}

.categories,
.sidelink {
	li {
		position: relative;
		margin-bottom: 10px;
		padding-bottom: 10px;
		border-bottom: 1px dotted gray('300');
		list-style: none;
		&:last-child {
			margin-bottom: 0;
			border-bottom: none;
			padding-bottom: 0;
		}
		a {
			display: block;
			span {
				position: absolute;
				right: 0;
				top: 0;
				color: #ccc;
			}
		}
		&.active {
			a {
				color: $black;
				font-style: italic;
			}
		}
	}
}

.comment-form-wrap {
	clear: both;
}

.comment-list {
	padding: 0;
	margin: 0;
	.children {
		padding: 50px 0 0 40px;
		margin: 0;
		float: left;
		width: 100%;
	}
	li {
		padding: 0;
		margin: 0 0 30px 0;
		float: left;
		width: 100%;
		clear: both;
		list-style: none;
		.vcard {
			width: 80px;
			float: left;
			img {
				width: 50px;
				border-radius: 50%;
			}
		}
		.comment-body {
			float: right;
			width: calc(100% - 80px);
			h3 {
				font-size: 16px;
				font-weight: bold;
				color: $black;
			}
			.meta {
				text-transform: uppercase;
				font-size: 13px;
				letter-spacing: .1em;
				color: #ccc;
				margin-bottom: 20px;
			}
			.reply {
				padding: 5px 10px;
				background: lighten($black, 90%);
				color: $black;
				text-transform: uppercase;
				font-size: 14px;
				&:hover {
					color: $black;
					background: lighten($black, 89%);
				}
			}
		}
	}
}

.search-form {
	
	.form-group {
		position: relative;
		input {
			padding-right: 50px;
		}
	}
	[class^="icon-"] {
		position: absolute;
		top: 50%;
		right: 20px;
		transform: translateY(-50%);
	}
}

.post-meta {
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: .2em;
	a {
		color: $white;
		border-bottom: 1px solid rgba($white, .5);
	}
}


.custom-pagination {
	a {
		display: inline-block;
		width: 40px;
		height: 40px;
		line-height: 40px;
		font-weight: 700;
		border-radius: 50%;
		background: rgba($primary, .1);
		color: $primary;
		text-align: center;
		&:hover, &.active {
			background: $primary;
			color: $white;
		}
	}

}


.team-2 {
	h3 {
		font-size: 18px;
	}
}

.quick-contact-item {
	[class*="icon-"] {
		font-size: 20px;
		display: inline-block;
		width: 40px;
		height: 40px;
		flex: 0 0 40px;
		margin-right: 30px;
		border-radius: 50%;
		border: 2px solid #efefef;
		text-align: center;
		position: relative;
		&:before {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	.text {
		font-size: 16px;
	}
}
